<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
        <string>popGPT(Azure)</string>
    <key>icon</key>
        <string>assets/sparkles.svg</string>
    <key>identifier</key>
        <string>com.natsustan.popclip.extension.popgpt.azure</string>
    <key>description</key>
        <string>Send the selected text to ChatGPT and append the response.</string>
    <key>popclipVersion</key>
        <integer>4069</integer>
    <key>interpreter</key>
        <string>python3</string>
    <key>entitlements</key>
        <array>
            <string>network</string>
        </array>
    <key>options</key>
        <array>
            <dict>
                <key>identifier</key>
                <string>apikey</string>
                <key>label</key>
                <string>API Key</string>
                <key>type</key>
                <string>string</string>
                <!-- <key>description</key>
                <string>Obtain an API key and endpoint from: https://oai.azure.com </string> -->
            </dict>
            <dict>
                <key>identifier</key>
                <string>endpoint</string>
                <key>label</key>
                <string>ENDPOINT</string>
                <key>type</key>
                <string>string</string>
                <key>description</key>
                <string>Obtain an API key and endpoint from: https://oai.azure.com </string>
            </dict>
            <dict>
                <key>Option Identifier</key>
                <string>model</string>
                <key>Option Label</key>
                <string>Model</string>
                <key>Option Default Value</key>
                <string>gpt-35-turbo</string>
                <key>Option Type</key>
                <string>multiple</string>
                <key>Option Values</key>
                <array>
                    <string>gpt-35-turbo</string>
                    <string>gpt-4</string>
                    <string>gpt-4-32k</string>
                </array>
            </dict>
        </array>
    <key>Actions</key>
        <array>
            <dict>
                <key>After</key>
                <string>show-status</string>
                <key>icon</key>
                <string>assets/aiFixSpellingGrammar.svg</string>
                <key>Shell Script File</key>
                <string>grammarfix.py</string>
                <key>Title</key>
                <string>GrammarFix</string>
            </dict>
            <dict>
                <key>After</key>
                <string>show-status</string>
                <key>icon</key>
                <string>assets/aiImproveWriting.svg</string>
                <key>Shell Script File</key>
                <string>pdwriting.py</string>
                <key>Title</key>
                <string>PD Writing</string>
            </dict>
            <dict>
                <key>After</key>
                <string>show-status</string>
                <key>icon</key>
                <string>assets/assistSummarize.svg</string>
                <key>Shell Script File</key>
                <string>summarize.py</string>
                <key>Title</key>
                <string>Summarize</string>
            </dict>
            <dict>
                <key>After</key>
                <string>show-status</string>
                <key>icon</key>
                <string>assets/translate.svg</string>
                <key>Shell Script File</key>
                <string>translate.py</string>
                <key>Title</key>
                <string>Translate</string>
            </dict>
            <dict>
                <key>After</key>
                <string>show-status</string>
                <key>icon</key>
                <string>assets/sparkles.svg</string>
                <key>Shell Script File</key>
                <string>helper.py</string>
                <key>Title</key>
                <string>Helper</string>
            </dict>
        </array>
</dict>
</plist>